.red {
	color: #ff2a29;
	margin-top: 0;
	margin-bottom: 0;

}

.pick {
	border-left:1px dotted #f6b9c7;
}

.pickwhite {
	border-left:1px dotted #fff;
}

.pick, .pickwhite {
	width:100px;}
	
.alternative_header {
	display: none;
	padding-bottom: 5px;
	margin-top: -12px;
}

.alternative_header h1 {
	font-size: 16px;
}

.alternative_header_n {
	display: none;
}

.alternative_header_n h1 {
	font-size: 16px;
}


.ui-collapsible-inset {
    margin: 0 0 1em;
}

.ui-collapsible-inset a {
	padding: 0.5em 0;
}

.ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset {
    margin: 0 0 1em;
}

.ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner {
    font-size: 35px;
    padding: 0.3em 20px 0.3em 0;
}
 

.ui-collapsible-heading, .ui-collapsible-heading > .ui-btn {
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.ui-collapsible-heading-collapsed, .ui-collapsible-heading-collapsed > .ui-btn {
-webkit-border-bottom-right-radius: 0.6em;
-webkit-border-bottom-left-radius: 0.6em;
-moz-border-radius-bottomright: 0.6em;
-moz-border-radius-bottomleft: 0.6em;
border-bottom-right-radius: 0.6em;
border-bottom-left-radius: 0.6em;
}

.itemnr {
	text-overflow:ellipsis;
	overflow: hidden;
}

.ean {
	margin-top: 5px;
}

.listpicked {
	border: 1px solid #ccc;
	border-top: 0;
}


.loadtime {
	color: #a8a8a8;
	font-size: 10px;	
}

.picki {
	padding: 0.5em 0;
}

.picki a {
font: 25px;
}

.count {
	color: #a8a8a8;
}

.ui-btn-inner {
	white-space: normal;
}

.block-count {
	position: absolute;
	top: -7px;
	left: 5px;
font-size: 12px;
line-height: 14px;
}

.inBin {
	float: right;
	color: #a8a8a8;
}

.nextbinpopup {
	color: #a8a8a8;
	font-size: 16px;
		float: right;

}


.nextbin {
	float: right;
	color: #a8a8a8;
	font-size: 16px;
	
}

#controlgroup_right {
	border-left: 1px dotted #000;
}

.picknormal, #pickgreen {
	font-size: 16px;

}

.ui-collapsible-heading .ui-btn-text, .ui-collapsible-heading-collapsed.ui-btn-text {
	color: #999;
	font-size: 16px;
}

.notification_problem {
	text-align: center;
}

.inprogress {
	background-color: #000;
}

#pickgreen_small {
	/*color: #c4c4c4;*/
	background-color: #fff;
	color: #999;
}

#pickgreen {
	color: #999;
    border-top: 1px solid #CCCCCC;
	
}

#pickgreen_small {
	font-size: 16px;
}

#pickgreen_small_picked {
	font-size: 16px;
	border-top:1px solid #ccc;
	padding-right:10px;	
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.red_popup {
	color: #ff2a29;
	
}

.green {
	color: #008b51;
	margin-top: 0;
	text-align: center;
	margin-bottom: 0;

}

.marked {
	background-color: #cecece;
}


#navi {
	margin-top: 10px;
}

#navi_start {
	margin-top: 18px;
}

.ui-grid-a h1, .ui-grid-a h2 {
	margin-left: 10px;
}
.ui-grid-a h2 {
	color: #8a8a8a;
	margin-top: 10px;
}

.ui-grid-a h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #8a8a8a;
	margin-left: 10px;
}


.ui-grid-a h1 {
font-size:26px;margin-top:0;margin-bottom:0px;

}

.ui-grid-a h1 {
	margin-bottom:0px;
	margin-top:0;
}

.ui-grid-a h3
{
	margin-left: 10px;
	font-size: 21px;
	margin-top:0;margin-bottom:0px;
}

.ui-grid-a h4
{
	margin-bottom: 10px;
	}

h1 {
	-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
margin-top: 0;
}



h1.info {
	margin-bottom: 0;
}

.cap {
	text-transform: capitalize;
}


#clock {
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.8em;
}

.close_panel {
}

.ui-btn-in,ner {
    font-size: 16px;
    white-space: normal;
}

.ui-btn-hover-c, .ui-btn-inner, .ui-btn-up-c {
border: none;
}


.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
    padding-right: 0px;
}

.ui-li .ui-btn-text a.ui-link-inherit {
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
}

.ui-li-heading {
    display: block;
    font-size: 16px;
    font-weight: bold;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
	margin: 0.6em 0.4em 0.6em 0;
}

.ui-li.ui-last-child, .ui-li.ui-field-contain.ui-last-child {
    border-bottom-width: 0px;
}

li.ui-btn-up-c {
	border: 1px solid 		transparent /*{c-bhover-border}*/;
	
}


.ui-btn-up-c {
	border: 1px solid 		#bbb /*{c-bhover-border}*/;
    color: #222222;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

ul.ui-listview li.ui-btn-hover-c, ul.ui-listview li.ui-btn-up-c {
	border: none;
}

.ui-btn-hover-c {
	border: 1px solid 		#bbb /*{c-bhover-border}*/;
	background: 			none /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: 					#222 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
}

.ui-body-c,
.ui-overlay-c {
	border: 1px solid 		transparent /*{c-bhover-border}*/;
	color: 					#333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 0px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: 			#f1f1f1 /*{c-body-background-color}*/;

}


.ui-header .ui-title, .ui-footer .ui-title { min-height: 1.1em; text-align: center; font-size: 16px; display: block; margin: .6em 2px .6em; padding: 0; text-overflow: inherit; overflow: visible; white-space: normal; outline: 0 !important; }


.ui-btn-icon-right .ui-icon {
    right: 5px;
}

.ui-header .ui-btn-left, .ui-footer .ui-btn-left {
    top: 9px;
}

.ui-br {
	border: none;
}

#picklink {
	font-size: 26px;

}

.ui-header .ui-btn-left, .ui-header .ui-btn-right, .ui-footer .ui-btn-left, .ui-footer .ui-btn-right, .ui-header-fixed.ui-fixed-hidden .ui-btn-left, .ui-header-fixed.ui-fixed-hidden .ui-btn-right {
    position: absolute;
    top: 4px;
}

#loginheader {
	position: relative;
}

#loginheader h1 {
		margin: .6em 2px .8em 2px;

}

#bcTarget {
	margin: 20px auto;
	text-align: center;
}





.grid_listview, .ui-grid-c {
	font-size: 16px;
}

.ui-li-link-alt .ui-btn {
	right: 35%;
}


.ui-field-contain .ui-controlgroup-controls {
    width: 100%;
}

.ui-popup-container .ui-content > p:last-child, .ui-popup-container .ui-content > h1:last-child, .ui-popup-container .ui-content > h2:last-child, .ui-popup-container .ui-content > h3:last-child, .ui-popup-container .ui-content > h4:last-child, .ui-popup-container .ui-content > h5:last-child, .ui-popup-container .ui-content > h6:last-child {
    margin-bottom: 0px;
}

.ui-popup-container .ui-content > p:first-child, .ui-popup-container .ui-content > h1:first-child, .ui-popup-container .ui-content > h2:first-child, .ui-popup-container .ui-content > h3:first-child, .ui-popup-container .ui-content > h4:first-child, .ui-popup-container .ui-content > h5:first-child, .ui-popup-container .ui-content > h6:first-child {
	margin-top: 0px;
}




.grid_listview_header {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding-right: 45px;
	padding-top: 15px;
	text-shadow: none;
	padding-bottom: 10px;
	background-color: #f1ab00;
}

.grid_listview_header .block-a {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

.grid_listview_header .block-b {
	color: #fff;
	font-size: 16px;
	font-weight: normal;

}

.grid_listview_header .block-c {
	color: #fff;
	font-size: 16px;
	font-weight: normal;

}

.grid_listview_header .block-d {
	color: #fff;
	font-size: 16px;
	font-weight: normal;

}

.grid_listview_header .block-e {
	color: #fff;
	font-size: 16px;
	font-weight: normal;

}

.grid_listview_header .block-f {
	color: #fff;
	font-size: 16px;
	font-weight: normal;

}

.grid_listview_header .block-g {
	color: #fff;
	font-size: 16px;
	font-weight: normal;

}

.grid_listview {
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	position: relative;
}



.block-a {
float: left;
margin-top: 10px;
width: 17%;

}


.block-b {
	margin-top: 10px;
	font-size: 28px;
float: right;
display:block;
width: 80%;
	margin-left:5px;
	font-weight: bold;

}

.block-c {
margin-top: 10px;
	font-size: 22px;
float: right;
display:block;
width: 80%;
	margin-left:5px;
font-weight: normal;
text-overflow:ellipsis;
overflow: hidden;
}

.block-d {
margin-top: 10px;
	font-size: 22px;
float: right;
display:block;
width: 80%;
	margin-left:5px;
font-weight: normal;
}

.block-e {
margin-top: 10px;
	color: #282828;
	font-size: 22px;
float: right;
display:block;
width: 80%;
	margin-left:5px;
font-weight: normal;

}

.block-f {
margin-top: 10px;
color: #BFBFBF;
width: 20%;
margin-left:5px;
font-size: 26px;
text-align: right;
float: right;
overflow: hidden;
display: block;

}

.block-g {
margin-top: 10px;
font-size: 28px;	
float: right;
display:inline;
width: 59%;
	margin-left:5px;
	font-weight: bold;

}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 0.5em 15px;
}

/* ----------Responsive Design------------------------ */


@media (min-width: 1000px) {
/* breite Browserfenster */
 
.pick {
font-size: 35px;
}

.pickwhite {
font-size: 35px;
}
 
.ui-collapsible-heading .ui-btn-text, .ui-collapsible-heading-collapsed.ui-btn-text {
    color: #999999;
    font-size: 35px;
} 
 

 .picki {
	padding: 0.1em 0;
}

.picknormal, #pickgreen {
	font-size: 35px;
}

#pickgreen_small {
	font-size: 20px;
}

.ui-clapsible-heading .ui-btn-text, .ui-collapsible-heading-collapsed.ui-btn-text {
	color: #999;
	font-size: 35px;
}

  
.ui-li-static.ui-li {
font-size: 20px;

}  

.ui-grid-a {
	height: 90%;
}

.ui-collapsible-inset {
    margin: 0 0 20px;
}
.ui-collapsible-inset a {
	padding: 0.5em 0;
}

 h1 {
	font-size: 40px;
} 

h1.red, h1.green, h1.red_popup {
	font-size: 40px;
} 

h1.red_popup {
	margin-top: 40px;
}
   
  
  .ui-grid-a h1 {
	font-size: 70px;
}
	.ui-grid-a h3 {
	font-size: 50px;

}
	.ui-grid-a h2 {
	margin-top: 5px;
margin-bottom: 10px;
height: 145px;
}



.nextbin, .nextbinpopup {
	
font-size: 35px;
}


a.confirm .ui-btn-inner{
	padding-top: 40px;
	padding-bottom: 40px;
 font-size: 47px;
}
	
.ui-grid-a h2, .ui-grid-a h4 {
	font-size: 35px;
	color: #8a8a8a;
}



img {
	display: inline-block;
	width: 100%;
}


.ui-btn-inner {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:30px;
}

.ui-btn {
margin-bottom: 20px;
}

.ui-popup .ui-btn {
margin-bottom: 10px;
}



.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 36px;
}
  
  
input.ui-input-text {
    font-size: 40px;
}  


#clock {
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
} 




.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
    font-size: 30px;
}


.ui-content .ui-listview-inset {
    margin-bottom: 20px;
}


.ui-header .ui-btn-left, .ui-header .ui-btn-right, .ui-footer .ui-btn-left, .ui-footer .ui-btn-right, .ui-header-fixed.ui-fixed-hidden .ui-btn-left, .ui-header-fixed.ui-fixed-hidden .ui-btn-right {
    position: absolute;
    top: 9px;
}



.grid_listview_header {
	height: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding-right: 45px;
	text-shadow: none;
	background-color: #f1ab00;
	display: block;

}

.grid_listview_header .block-f {
	color: #fff;
}

.grid_listview_header .block-a {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;
}

.grid_listview_header .block-b {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;

}

.grid_listview_header .block-c {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;

}

.grid_listview_header .block-d {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;

}

.grid_listview_header .block-e {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;

}

.grid_listview_header .block-f {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;

}

.grid_listview_header .block-g {
	color: #fff;
	font-size: 16px;
	margin-top: 0;
	font-weight: bold;

}


.grid_listview {
	width: 100%;
	font-size: 16px;
}



.block-a {
	float: left;
	width: 7%;
	font-size: 16px;
}


.block-b {
	float: left;
	width: 12%;
	margin-left: 5px;
	font-size: 20px;
	margin-left:10px;

}

.block-c {
	float: left;
	width: 16%;
		font-size: 20px;
	margin-left:0;

}

.block-d {
	float: left;
	width: 16%;
		font-size: 16px;
	margin-left:0;

}

.block-e {
	float: left;
	width: 46%;
	font-size: 20px;
	color: #282828;
	margin-left:0;
	line-height: 21px;
}

.block-f {
	float: left;
	width: 8%;
	color: #a8a8a8;	
	font-size: 20px;
	display: inline;
	text-align: right;
	margin-left:0;

}

.block-g {
	float: right;
	width: 8%;
	text-align: right;
	font-size: 20px;
	margin-left:0;
}

}

@media (min-width: 580px) and 
  (max-width: 1000px) {
/* Darstellung auf Netbooks */


 h1 {
	font-size: 30px;
} 


.ui-grid-a h1 {
font-size:36px;margin-top:0;margin-bottom:10px;

}

.ui-grid-a h2 {
margin-top:0px;margin-bottom:10px;
width: 80%;
}

.ui-grid-a h3
{
	margin-left: 10px;
	font-size: 28px;
margin-top:0;
}

img {
	display: inline-block;
	width: 100%;

}

.ui-btn {
margin-bottom: 40px;}

.ui-popup .ui-btn {
margin-bottom: 10px;}



.grid_listview, .ui-grid-c {
	font-size: 16px;

}

a.confirm .ui-btn-inner{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 40px;
}



.grid_listview_header {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 45px;
	padding-top: 15px;
	text-shadow: none;
	background-color: #f1ab00;
	display: none;
}

.grid_listview_header .block-a {
	color: #fff;
	font-size: 16px;

}

.grid_listview_header .block-b {
	color: #fff;
	font-size: 16px;
}

.grid_listview_header .block-c {
	color: #fff;
	font-size: 16px;

}

.grid_listview_header .block-d {
	color: #fff;
	font-size: 16px;

}

.grid_listview_header .block-e {
	color: #fff;
	font-size: 16px;

}

.grid_listview_header .block-f {
	color: #fff;
	font-size: 16px;

}

.grid_listview_header .block-g {
	color: #fff;
	font-size: 16px;
}

.grid_listview {
	width: 100%;
	font-size: 16px;
}



.block-a {
float: left;
margin-top: 10px;
width: 7%;

}


.block-b {
	margin-top: 10px;
	font-size: 17px;
float: left;
display:block;
width: 17%;
	margin-left:5px;

}

.block-c {
margin-top: 10px;
	font-size: 17px;
float: left;
display:block;
width: 26%;
	margin-left:5px;
font-weight: normal;
}

.block-d {
margin-top: 10px;
	font-size: 14px;
float: left;
display:block;
width: 16%;
	margin-left:5px;
font-weight: normal;

}

.block-e {
margin-top: 10px;
	font-size: 17px;
float: left;
display:block;
width: 40%;
	margin-left:5px;
font-weight: normal;

}

.block-f {
margin-top: 10px;
color: #BFBFBF;
width: 5%;
	margin-left:5px;
font-size: 16px;
text-align: right;
float: left;
font-weight: normal;

}

.block-g {
margin-top: 10px;
font-size: 17px;	
float: left;
width: 5%;
	margin-left:5px;
text-align: right;
}



.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 0.5em 15px;
}



}

@media (max-width: 580px) {
/* mobile Geräte */

.pick, .pickwhite {
	width:80px;
}

 h1 {
	font-size: 26px;
} 


.count {
	font-size: 12px;
}

.ui-grid-a h1 {
font-size:26px;margin-top:0;margin-bottom:10px;

}
.ui-grid-a h2
{
	margin-left: 10px;
margin-top:0;
margin-bottom: 10px;
}


.ui-grid-a h3
{
	margin-left: 10px;
	font-size: 21px;
margin-top:0;margin-bottom:0px;
}

img {
	display: inline-block;
	width: 100%;

}

.ui-btn {
margin-bottom: 20px;}

.ui-popup .ui-btn {
margin-bottom: 0px;}







.ui-header .ui-btn-left, .ui-header .ui-btn-right, .ui-footer .ui-btn-left, .ui-footer .ui-btn-right, .ui-header-fixed.ui-fixed-hidden .ui-btn-left, .ui-header-fixed.ui-fixed-hidden .ui-btn-right {
    position: absolute;

}

.grid_listview_header {
	display: none;
}
.block-a {
display:none;
margin-top: 10px;
width: 100%;
}

.block-b {
	float: left;
width: 30%;
font-size: 12px;
}

.block-c {
	float: left;
width: 50%;
font-size: 12px;
font-weight: normal;

}

.block-d {
	float: left;
width: 30%;
font-size: 12px;
font-weight: normal;

}


.block-e {
	float: left;
width: 100%;
font-size: 12px;
font-weight: normal;
}



.block-f {
margin-top: 10px;
color: #BFBFBF;
width: 55%;
	margin-left:5px;
font-size: 14px;
text-align: right;
float: right;
overflow: hidden;
display: block;

}

.block-g {
margin-top: 10px;
font-size: 14px;	
float: left;
display:inline;
width: 35%;
	margin-left:5px;

}


.grid_listview, .ui-grid-c {
	font-size: 16px;

}

a.confirm .ui-btn-inner{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 26px;
}

.picknormal {
	width: 200px;
}

}

@media (max-width: 320px) {

 h1 {
	font-size: 26px;
} 

.inlistheader {
	display: none;
}
.pick, .pickwhite {
	width:25px;
	padding-left: 35px;
}

.picknormal {
	width: 200px;
}


}

@media (max-width: 420px) {

.nextbin, .nextbinpopup {
float: none;
display: block;
}


}

@media (max-width: 540px) {

.alternative_header {
	display: block;
}

.alternative_header_n {
	display: block;
}


.ui-header .ui-title {
visibility: hidden;
}

}
