body {
    background: #fff;
    font-size: 14px;
}

/* TYPOGRAPHY ******************* */
h1 {
    font-size: 3.429em;
    font-weight: 300;
}

h2 {
    font-size: 2.286em;
    font-weight: 300;
}

h3 {
    font-size: 1.714em;
    font-weight: 300;
}

h4 {
    font-size: 1.5em;
	font-weight: 300;
}

.fontLight {
    font-weight: 300;
}

.fontLightGrey {
    color: #555;
}

.headingIcon {
	color: #f79c0f;
	padding-right: 5px;
}

/* BUTTON ******************** */
.btn-default {
    background-color: #fff !important; /* Important because ACE template uses important */
    border: 1px solid #eee;
    color: #555 !important; /* Important because ACE template uses important */
}

.btn-primary {
    min-width: 200px;
    background-color: #eee !important; /* Important because ACE template uses important */
    border: 1px solid #ddd;
    color: #555 !important; /* Important because ACE template uses important */
}

.btn:hover {
    background-color: #f6c881 !important; /* Important because ACE template uses important */
    border: 1px solid #f79c0f;
}

.btn-lg {
    padding: 14px 20px;
}


/* ORANGE BAR ******************** */
.navbar {
    background: #f79c0f;
}

.navbar .navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-header {
	padding: 0 5px;
}

.pixilogo {
	height: 32px;
}

.moduleName {
	display: inline-block;
    margin-top: 10px;
	font-size: 85%;
}

/* TODO Check why this is needed!!! */
.nav.ace-nav {
	height: inherit;
}


/* TOOLBAR ******************** */

.toolbar {
	position: relative;
	z-index: auto;
	border-bottom: 1px solid #e5e5e5;
	background-color: #ddd;
	min-height: 41px;
}

.toolbar .nav {
	margin: 0 12px;
}

.toolbar li {
	float: left;
	margin-right: 1px;
}

.nav .toolbarButton {
	padding: .7em 1em;
	background: #ccc;
	height: 3em;
	color: #393939;
	font-weight: 600;
	border: 1px solid transparent;
}

.nav .toolbarButton:hover {
	background: #f6c881;
}

/* .nav .toolbarButton:focus {
	background: #ccc;
	}
	
	.nav .toolbarButton:focus i,
	.nav .toolbarButton.active i {
	color: #f79c0f;
} */

.nav .toolbarButton i {
	font-size: 1.714em;
	color: #555555;
}


/* PANEL ******************** */

.panel {
	margin: 0 0 20px 0;
	border: 1px solid #DDD;
	border-radius: 0;
}

.panel-heading {
	position: relative;
	padding: 0 0 0 15px;
	background: #F5F5F5;
	border-bottom: none;
}

.panel-body {
	padding: 0 15px;
}

.panel-heading a {
	font-size: 1.5em;
	line-height: 1.9;
	display: block;
	margin: 0 0 0 40px;
}

.panel-heading h4 {
	font-size: 1.5em;
	line-height: 1.9;
	margin: 0 0 0 40px;
	color: #555;
}

.panel-heading .fa-warning {
	color: #f79c0f;
}

.panel-heading h4 .picklistNumber {
    display: inline-block;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.collapseIcon {
	color: #DDD;
	font-size: 1.5em;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
}
	
.picklistLinkArrow {
	background: #EEE;
	color: #555;
	border-left: 1px solid #ddd;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 60px;
}

.picklistLinkArrow:hover {
	background: #f6c881;
}

.picklistCheckArrow {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 60px;
	color: #9abc32;
	border-left: 1px solid #ddd;
}

.collapseIcon i {
	line-height: 1.9;
	margin: 0 25%;
}
	
.picklistLinkArrow i,
.picklistCheckArrow  i{
	line-height: 1.9;
	margin: 0 25%;
}



/* TABLE ******************** */

table {
	border: 1px solid #ddd;
}

th {
	background: #F5F5F5;
	border: 1px solid #ddd;
	font-weight: 400;
}

table img {
	max-width: 50px;
}

.tableCheckbox {
	width: 20px;
}




/* DIALOG ******************** */

.ui-dialog-contain {
	border: 1px solid #ddd:;
}

/* POPUP ******************** */

.ui-popup-screen.in {
	background: #fff;
	opacity: 1;
}

.ui-popup-container > div {
	max-width: 500px;
	}


/* ALERTS ****************** */


/* SPECIFIC PICKLIST DETAIL STYLES ******************** */


.picklistDetail .row {
	margin-bottom: 15px;
}

.picklistDetail > .row {
	margin: 20px -12px 0;
}

.picklistDetail a {
	color: #393939;
	text-decoration: none;
}

.picklistDetail h5 {
	margin: 0;
	color: #f79c0f;
}

.picklistDetail h1,
.picklistDetail h2 {
margin-top: 0;
}

.picklistDetail h4 {
margin-bottom: 0;
}

.imageContainer {
padding: 5px;
border: 1px solid #EEE;
max-width: 100%;
}

.isReported {
margin-left: 10px;
}

.isReported span {
padding: 5px 20px;
}

/* MISC PICKLIST STYLES ******************** */

.picklistDefinitionList {
overflow: hidden;
}

.picklistDefinitionList dt {
float: left;
font-weight: normal;
text-align: left;
line-height: 1.8;
}

.picklistDefinitionList dd {
margin-left: 140px;
line-height: 1.8;
}

.margin20 {
margin-top: 20px;
display: block;
clear: both;
}

.margin40 {
margin-top: 40px;
display: block;
clear: both;
}

#bcTarget {
margin: 40px auto;
}

.collapsing {
-webkit-transition: none;
transition: none;
}

/* MEDIA QUERIES ***************** */

@media (orientation: portrait) {
.col-md-2 { /* Style to nudge the item image in the next row when in portrait mode */
width: 100%;
}
}

@media only screen and (max-width: 767px) {

body,
.nav .toolbarButton {
font-size: 18px; /* Make fonts bigger on smaller screens */
}

.picklistLinkArrow i,
.picklistCheckArrow  i {
	margin: 0 35%;
}

.imageContainer {
padding: 0;
border-left: none;
float: left !important;
}

h1 {
font-size: 3em;
}

.navbar:not(.navbar-collapse) .navbar-header {
float: left !important;
}

.navbar:not(.navbar-collapse) .navbar-header.navbar-buttons {
float: right !important;
}

.navbar:not(.navbar-collapse) .ace-nav {
background-color: transparent;
}

.navbar:not(.navbar-collapse) .ace-nav > li:last-child,
.navbar:not(.navbar-collapse) .ace-nav > li:first-child {
border: none;
}

}

@media (min-width: 768px) {
.imageContainer img {
float: right;
}
}

@media only screen and (max-width: 768px) {
body,
.nav .toolbarButton {
font-size: 14px; /* Make fonts bigger on smaller screens */
}
}

@media (min-width: 769px) and (max-width: 992px) {
body,
.nav .toolbarButton {
font-size: 16px;
}
}

@media (min-width: 993px) {
body,
.nav .toolbarButton {
font-size: 18px;
}
}

@media (orientation:landscape) and (max-height: 600px) {
body {
font-size: 18px; /* Make fonts bigger on smaller screen */
}

.btnNext {
margin-top: -15px; /* to fit on the screen on Kindle in landscape mode*/
}
}


/* JQUERY UI MOBILE "FIXES" ***************** */
.ui-li-desc {
font-size: 1em;
margin: 0 0 10px;
}

.ui-collapsible-inset {
margin: 0;
border: none;
margin-top: -1px;
}


.ui-content {
padding: 0;
overflow: hidden;
}

.ui-body-c.ui-dialog {
background: #fff !important;
}

.ui-checkbox input,
.ui-radio input {
width: 16px;
height: 16px;
left: 0;
position: static;
}

.ui-checkbox {
position: static;
}

.ui-li-desc {
white-space: normal;
}

.ace-nav li.helpLink a i {
	height: 45px;
	line-height: 45px;
	font-size: 25px;
}
