.release-note-item {
    margin-bottom: 15px;
}

.release-note-item .image {
    margin-right: 15px;
    border: 1px solid black;
}

.release-note-item .description  {
    margin-top: 15px;
    color: black;
}

#settings {
    margin: 10px;
}

#settings #colourSettings .row * {
    margin: 0;
    padding: 0;
}

#settings #colourSettings .row.item {
    margin-bottom: 10px;
}

#settings #colourSettings input,
#settings #colourSettings .col-bkg {
    border: 1px solid #858585;
    height: 40px;
    line-height: 30px;
}

#settings #colourSettings input {
    border-right: 0;
}

#settings #colourSettings .col-bkg span {
    color: white;
    font-size: 14px;
    line-height: 40px;
    padding: 0 5px;
    cursor: default;
}

#settings #colourSettings input {
    text-align: center;
    color: #858585;
    font-weight: bold;
    font-size: 20px;
}

#settings h2 {
    font-size: 25px !important;
    font-weight: bold;
}

#settings .control-label {
    text-align: left !important;
}

#settings #submit-btn {
    padding: 0;
}

#settings .helpLinkIcon {
    color: #f79c0f;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    border: 1px solid #f79c0f;
    border-radius: 50%;
    padding: 0 7px;
}

#settings .helpLinkIcon:hover {
    color: #f79c0f;
    cursor: default;
    text-decoration: none;
}
